.section-hero{
    background-image: url('../../img/hero-bg.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    &::before{
        content: "";
        background-image: url('../../img/shape.png');
        background-size: cover;
        position: absolute;
        top: 100px;
        left: 0;
        min-height: 339px;
        min-width: 146px;
        z-index: 1;
    }
    &::after{
        content: "";
        background-image: url('../../img/shape-2.png');
        background-size: cover;
        position: absolute;
        bottom: 100px;
        right: 0;
        z-index: 1;
        min-height: 372px;
        min-width: 172px;
    }
    .container {
        height: 100vh;
        display: flex;
        align-items: center;
        .hero--content{
            &__subheads{
                color: $color-primary;
            }
            &__mainheads{
                font-size: 120px;
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
                color: $color-white;
            }
            &__mainheads-two{
                font-size: 120px;
                font-weight: 700;
                line-height: 1;
                padding-bottom: 30px;
                text-transform: uppercase;
                color: $color-primary;
            }
            &__mainpara{
                font-size: 18px;
    max-width: 570px;
    color: $color-tertiary;
    padding-bottom: 20px;
            }
            &__mainbutton{
                @include buttonOne();
                a{
                    color: $color-white;
                }
            }
        }
    }
}
.section-about{
    padding: 30px 0;
    .aboutus__img {
        position: relative;
        img{
            position: absolute;
        }
        .image-one{
            left: 0;
            top: 5px;
        }
        .image-two{
            left: 0;
            top: 20px;
        }
        .image-three{
            right: 0;
            top: 25px;
        }
    }
}