.section-hero{
    background-image: url('../../img/hero-bg.jpeg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    &::before{
        content: "";
        background-image: url('../../img/shape.png');
        background-size: cover;
        position: absolute;
        top: 100px;
        left: 0;
        min-height: 339px;
        min-width: 146px;
        z-index: 1;
    }
    &::after{
        content: "";
        background-image: url('../../img/shape-2.png');
        background-size: cover;
        position: absolute;
        bottom: 100px;
        right: 0;
        z-index: 1;
        min-height: 372px;
        min-width: 172px;
    }
    .container {
        height: 100vh;
        display: flex;
        align-items: center; 
        @include for-small-screen{
            text-align: center;
        }
        .hero--content{
            &__subheads{
                color: $color-primary;
               
            }
            &__mainheads{
                font-size: 120px;
                font-weight: 700;
                line-height: 1;
                text-transform: uppercase;
                color: $color-white;
                @include for-small-screen{
                    font-size: 40px;
                }
            }
            &__mainheads-two{
                font-size: 120px;
                font-weight: 700;
                line-height: 1;
                padding-bottom: 30px;
                text-transform: uppercase;
                color: $color-primary;
                @include for-small-screen{
                    font-size: 48px;
                }
            }
            &__mainpara{
                font-size: 18px;
    max-width: 570px;
    color: $color-tertiary;
    padding-bottom: 20px;
            }
            &__mainbutton{
                @include buttonOne();
                a{
                    color: $color-white;
                }
            }
        }
    }
}
.section-about{
    padding: 30px 0;
    .aboutus__img {
        position: relative;
        img{
            position: absolute;
        }
        .image-one{
            left: 0;
            top: 5px;
        }
        .image-two{
            left: 0;
            top: 20px;
        }
        .image-three{
            right: 0;
            top: 25px;
        }
    }
    .btns-area {
        text-align: left;
        padding-top: 15px;
    }
}
.section-services{
    padding-bottom: 30px;
    .row{
        padding: 0.5em 0;
        .col-md-4 {
            margin: 1em 0;
        }
    }
    .card {
        width: 100%;
        height: 100%;
        padding: 2rem 1.5rem;
        background: $color-white;
        border-radius: 5px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        transition: 0.5s;
       &__icon{
        background-image: $gradient-one;
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
    img{
        filter: brightness(50);
    }
       }
       
       &__title{
        font-size: 20px;
    font-weight: 600;
    color: $color-black;
    margin: 1em 0;
    text-align: center;
        }
        &__text{
            color: $color-text;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
        }
    }
}
.section-counterarea{
    background-image: url('../../img/bcrumb-bg.jpeg');
    padding: 80px 0;
    background-attachment: fixed;
}

.section-stories{
    background-color: rgba($color-tertiary, .3);
    padding: 5em 0;
}
.section-portfolio{
    padding: 5em 0 30px 0;
}
.section-teamleaders{
    padding: 30px 0;
    .btns-area{
        margin-top: 5em;
    }
    .teamleaders--content{
    h2 {
        display: inline-block;
    }
}
}
.section-hiring{
    background-image: url(../../img/hire-bg.jpg);
    background-size: cover;
    background-position: 77% 15em;
    padding: 10em 0;
    background-attachment: fixed;
    .heading-secondary{
        color: $color-white;
        text-align: center;
    }
    .btns-area{
        margin-top: 30px;
    }
}
.section-ourclients{
    padding: 30px 0;
}