.composition{
    position: relative;
    height: 100%;
    .composition__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
        position: absolute;
        z-index: 1;
        transition: all 0.5s;
        border: 8px solid $color-white;
        &--p1{
            top: -2rem;
            left: 0;
        }
        &--p2{
            bottom: 0;
            left: 1.5em;
        }
        &--p3{
            top: 1em;
            right: 15%;
        }
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
            z-index: 2;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}