// Colors
$color-primary:#ff4904;
$color-secondary:#f50366;
$color-white:#fff;
$color-black:#121212;
$color-tertiary:#d8d8d8;
$color-text:#535353;
$color-ft-bg:#01001e;

// Gradient

$gradient-one: linear-gradient(to right, $color-primary 25%, #f50366 50%, $color-primary 75%, $color-secondary 100%);